
.animation {
    width: 40em;
    height: 8em;
    margin: 1em auto;
    position: absolute;
    left: 2em;
    bottom: 1em;
    text-shadow: 2px 2px 3px black;
  }
  
  .red {
    color: var(--comment-border-clr);
  }
  
  .white {
    color: rgb(228, 228, 228);
  }
  .black {
    color: black;
  }
  
  .light {
    font-weight: 800;
  }
  
  .bold {
    font-weight: 1200;
  }
  
  .mask {
    overflow: hidden;
    position: relative;
  }
  
  /*********************
  * Animation 1
  *********************/
  @keyframes animation-1-slash {
    0% {
      opacity: 0;
      transform: translate3d(6em, 0, 0);
    }
    25% {
      opacity: 0;
      transform: translate3d(6em, 0, 0);
    }
    45% {
      opacity: 1;
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-1-text-1 {
    0% {
      opacity: 0;
      left: -100%;
    }
    45% {
      opacity: 0;
      left: -100%;
    }
    65% {
      opacity: 1;
      left: 0;
    }
  }
  @keyframes animation-1-text-2 {
    0% {
      opacity: 0;
      left: -100%;
    }
    55% {
      opacity: 0;
      left: -100%;
    }
    75% {
      opacity: 1;
      left: 0;
    }
  }
  #animation-1 div {
    position: absolute;
  }
  #animation-1 > div:first-child {
    font-size: 8em;
    top: -0.2em;
    animation: var(--anim-duration) cubic-bezier(0.19, 0.76, 0.32, 1) infinite alternate both animation-1-slash;
  }
  #animation-1 > div:nth-child(2), #animation-1 > div:nth-child(3) {
    font-size: 3em;
    height: 3em;
    width: 80vw;
  }
  #animation-1 > div:nth-child(2) div, #animation-1 > div:nth-child(3) div {
    animation: var(--anim-duration) cubic-bezier(0.19, 0.76, 0.32, 1) infinite alternate both;
  }
  #animation-1 div:nth-child(2) {
    top: 0;
    left: 0.9em;
  }
  #animation-1 div:nth-child(2) div {
    animation-name: animation-1-text-1;
  }
  #animation-1 div:nth-child(3) {
    top: 0.8em;
    left: 0.5em;
  }
  #animation-1 div:nth-child(3) div {
    animation-name: animation-1-text-2;
  }
  
  /*********************
  * Animation 2
  *********************/
  @keyframes animation-2-name {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    30% {
      transform: translate3d(0, 100%, 0);
    }
    60% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-2-title {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    30% {
      transform: translate3d(0, -100%, 0);
    }
    60% {
      transform: translate3d(0, 0, 0);
    }
  }
  #animation-2 {
    text-align: center;
  }
  #animation-2 > div {
    width: 100%;
    height: 1em;
  }
  #animation-2 > div div {
    position: absolute;
    width: 100%;
  }
  #animation-2 > div:first-child {
    font-size: 3.8em;
  }
  #animation-2 > div:first-child div {
    animation: var(--anim-duration) ease-out infinite alternate both animation-2-name;
  }
  #animation-2 > div:last-child {
    font-size: 2.1em;
  }
  #animation-2 > div:last-child div {
    animation: var(--anim-duration) ease-out infinite alternate both animation-2-title;
  }
  
  /*********************
  * Animation 3
  *********************/
  @keyframes animation-3-left {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    30% {
      transform: translate3d(100%, 0, 0);
    }
    60% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-3-right {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    30% {
      transform: translate3d(-100%, 0, 0);
    }
    60% {
      transform: translate3d(0, 0, 0);
    }
  }
  #animation-3 > div {
    display: inline-block;
    width: 50%;
    height: 1em;
  }
  #animation-3 > div:first-child {
    font-size: 3.4em;
    text-align: right;
    letter-spacing: 1px;
  }
  #animation-3 > div:first-child div {
    animation: var(--anim-duration) ease-out infinite alternate both animation-3-left;
  }
  #animation-3 > div:last-child {
    font-size: 3.5em;
    line-height: 1.15;
    letter-spacing: -1px;
  }
  #animation-3 > div:last-child div {
    animation: var(--anim-duration) ease-out infinite alternate both animation-3-right;
  }
  
  /*********************
  * Animation 4
  *********************/
  @keyframes animation-4-stroke {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    30% {
      transform: translate3d(0, -100%, 0);
    }
    60% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-4-text {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, -100%, 0);
    }
    80% {
      transform: translate3d(0, 0, 0);
    }
  }
  #animation-4 > div {
    display: inline-block;
    vertical-align: middle;
  }
  #animation-4 > div div {
    animation: var(--anim-duration) ease-out infinite alternate both;
  }
  #animation-4 > div:first-child {
    font-size: 3.8em;
  }
  #animation-4 > div:first-child div {
    animation-name: animation-4-text;
  }
  #animation-4 > div:last-child div {
    width: 0.38em;
    height: 4.4em;
    background-color: #cf4c4e;
    animation-name: animation-4-stroke;
  }
  
  /*********************
  * Animation 5
  *********************/
  @keyframes animation-5-bottom-right {
    0% {
      transform: translate3d(-100%, 96%, 0);
    }
    8% {
      transform: translate3d(-100%, 96%, 0);
    }
    30% {
      transform: translate3d(0, 96%, 0);
    }
    38% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-5-top {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    38% {
      transform: translate3d(100%, 0, 0);
    }
    58% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-5-bottom-left {
    0% {
      transform: translate3d(-98%, -100%, 0);
    }
    58% {
      transform: translate3d(-98%, -100%, 0);
    }
    64% {
      transform: translate3d(-98%, 0, 0);
    }
    84% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-5-text-name {
    0% {
      transform: translate3d(0, 100%, 0);
    }
    25% {
      transform: translate3d(0, 100%, 0);
    }
    45% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes animation-5-text-title {
    0% {
      transform: translate3d(0, -100%, 0);
    }
    35% {
      transform: translate3d(0, -100%, 0);
    }
    55% {
      transform: translate3d(0, 0, 0);
    }
  }
  #animation-5 {
    text-align: center;
    height: 3.5em;
  }
  #animation-5 svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #animation-5 line {
    stroke-width: 4px;
    stroke: #cf4c4e;
  }
  #animation-5 div,
  #animation-5 .clip-path {
    animation: var(--anim-duration) ease-out infinite alternate both;
  }
  #animation-5 .bottom-right,
  #animation-5 .right {
    clip-path: url(#mask-bottom-right);
  }
  #animation-5 .top {
    clip-path: url(#mask-top);
  }
  #animation-5 .bottom-left,
  #animation-5 .left {
    clip-path: url(#mask-bottom-left);
  }
  #animation-5 #mask-bottom-right > .clip-path {
    animation-name: animation-5-bottom-right;
  }
  #animation-5 #mask-top > .clip-path {
    animation-name: animation-5-top;
  }
  #animation-5 #mask-bottom-left > .clip-path {
    animation-name: animation-5-bottom-left;
  }
  #animation-5 > div:nth-child(2) {
    font-size: 3em;
    padding-top: 0.4em;
  }
  #animation-5 > div:nth-child(2) div {
    animation-name: animation-5-text-name;
  }
  #animation-5 > div:nth-child(3) {
    font-size: 2.9em;
    letter-spacing: 0.7px;
    margin-top: 0.2em;
  }
  #animation-5 > div:nth-child(3) div {
    animation-name: animation-5-text-title;
  }



  /** donate */


  .jt {
    position: relative;
    font-size: 10vmin;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px rgb(179, 77, 242);
    color: rgb(182, 117, 247);
  }

  
  .jt__row {
    display: block;
  } 
  .jt__row:nth-child(1) {
    clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
  }
  .jt__row:nth-child(2) {
    clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
  }
  .jt__row:nth-child(3) {
    clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
  }
  .jt__row:nth-child(4) {
    clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
  }
  
  .jt__row.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    witdh: 800px;
  }
  
  .jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 4s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate both;
  }

  .jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
  }
  .jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
  }
  .jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2);
  }
  .jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3);
  }
  .jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4);
  }
  .jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5);
  }
  
  @keyframes moveIn {
    50%,
    100% {
      transform: translateY(0em);
    }
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    95% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 0;
    }
  }
  