@media screen and (max-width: 800px) {
    .page { width: 100vw !important; }
}
  
  html {
    --primary-clr:#000000;
    --primary-font-clr:#000000;
    --primary-comment-clr:#000000;
    --primary-text-stroke: #5d0068;
    --text-clr:#C8A080;
  
    --form-input-background: #fff;
    --button-primary-background: #FF9700;
    --button-primary-background-hover: #FFcc00;
    --button-color: #fff;
    --text-input-color: #333;


    --widget-background: rgba(0, 0, 0, 0.7);
    --widget-font-clr: white;

    --app-background: rgb(226, 226, 226);
    --app-content-background: rgb(248, 248, 250);
    --app-sidebar-background: rgb(255, 255, 255);

    --chat-message-border: 1px solid rgb(211, 211, 211);
    --comment-border-clr: rgb(42, 99, 255);
    --panels-border: 1px solid rgb(175, 175, 175);

    --anim-duration: 7s;

    height: 100%;
  }
  
  body {
    padding: 0;
    margin: 0;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  
  body.greenscreen {
    background: none;
    color: white;
  }

  .fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  


  

  .comments {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
  }

  
  
  .message-body {
    position: absolute;
    bottom: 0;
    color: var(--primary-comment-clr);
    border-left: 20px solid var(--comment-border-clr);
    font-size: 2em;
    margin: 1em;
    padding: 0.5em;
    background-color:rgba(255, 255, 255, 0.8);
    animation-duration: 1s;
    animation-name:  animation-1-slash;
    overflow: hidden;
  }
  
  .message-body p {
    text-align: left;
    animation-duration: 1.5s;
    animation-name:  animation-1-slash;
  }
  
  h1,h2,h3,h4 {
      color: var(--primary-clr);
  }
  
  a {
    color: #ff9720;
  }
  
  
  .copyright {
    position: absolute;
    color: var(--primary-clr);
    bottom: 0;
    right: 0;
  }
  
  .page {
      background:rgba(58,63,68,0.5);
    border-radius: 5px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;  
    flex-direction: row;
    padding: 2em;
    flex-wrap: wrap;
    width: 40vw;
  }
  
  .page p { 
    flex: 1 1 100%;
  }
  
  .welcome { 
    flex: 1 1 10em;
  }

  
.inactive {
    display: none;
}

/**
DONATE
*/

.donate-progress {
  position: absolute;
  display: flex;
  top: 50px;
  right: 50px;
  flex: 1 1 auto;
  background-color: var(--widget-background);
  color: var(--widget-font-clr);
  font-size: 2em;
  padding: 1em;
  z-index: 1000;
}

.donate-recive {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -210px;
  z-index: 10000;
}

.donate_message {
  font-size: 3em;
  color: var(--primary-comment-clr);
  -webkit-text-stroke: var(--primary-text-stroke) 2px;
  text-align: center;
  font-weight: bold;

}


/**
PROGRESS BAR
*/

.container {
  width: 420px;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(114, 114, 114, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 32px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25),
    inset 0 1px rgba(173, 173, 173, 0.1);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25),
    inset 0 1px rgba(119, 119, 119, 0.1);
}
  